@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Signika:wght@400;700&display=swap");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.react-datetime-picker__inputGroup__input {
  color: #61dafb;
}

.column {
  margin: 0 10px;
  flex: 0 0 auto; /* Ensures columns shrink-to-fit on smaller screens */
  max-width: 320px; /* Adjust as needed */
}

.blue-column {
  margin: 0 10px;
  flex: 0 0 auto; /* Same as above */
  max-width: 200px; /* Adjust as needed */
}
